<h1>Artist: <%= @artist.name %></h1>
<p>Gallery: <%= @artist.gallery.name %></p>
<p>Style: <%= @artist.style %></p>
<p>Published Work: <%= @artist.published %></p>
<p>Exhibitions: <%= @artist.exhibitions %></p>
<p>Created on: <%= @artist.created_at %></p>
<p>Updated on: <%= @artist.updated_at %></p>
<a href="/artists">All Artists</a>
