<h1>Gallery: <%= @gallery.name %></h1>
<p>City: <%= @gallery.city %></p>
<p>Catering: <%= @gallery.catering %></p>
<p>NUmber of Viewing Rooms: <%= @gallery.viewing_rooms %></p>
<p>Created on: <%= @gallery.created_at %></p>
<p>Updated on: <%= @gallery.updated_at %></p>
<a href="/galleries">All Galleries</a>